# WhatsApp Konfiguration (Nummer ohne + und Leerzeichen)
PHONE_NUMBER=4915123456789

# Zusätzliche Bot-Owner (kommagetrennt, optional)
# BOT_OWNERS=4915123456789,4915987654321

# MySQL Datenbank
DB_HOST=localhost
DB_USER=whatsapp-bot
DB_PASSWORD=super_secure_password
DB_DATABASE=wa_bot
DB_PORT=3306

# Optional
# COMMAND_PREFIX=!
# SPAM_MAX_MESSAGES=5
# SPAM_TIMEFRAME_MS=5000
